#spelunkular_form

  = form_tag '/get_html', :remote => true do

    = label_tag 'url'
    = text_field_tag 'url'

    = label_tag 'depth'
    = number_field_tag 'depth'

    = submit_tag 'Go'


#images
